<%- include ../partials/header.ejs %>
  <section>
    <h1 id="event-name"></h1>
    <h3>Event Creator</h3>
    <a id="event-creator" href=""></a>
    <img id="event-image">
    <h2>Date & Time</h2>
    <span id="event-datetime"></span>
    <h2>Location</h2>
    <span id="event-location"></span>
    <h2>Price</h2>
    <span id="event-price"></span>
    <h2>Description</h2>
    <p id="event-description"></p>
    <h2>Entry List</h2>
    <ol id="entry-list"></ol>

    <form id="sign-up" class="" action="/events/<%= id %>/entries" method="POST">
      <button class="btn" type="submit">Sign Up</button>
    </form>
    <% if (loggedInUser && loggedInUser.eventsCreated.includes(id)) {%>
      <a id="event-edit" class="btn btn-edit" href="/events/update?id=<%= id %>">Update Event Details</a>
      <form id="delete-event" class="" action="/api/events/<%= id %>" method="POST">
        <button class="btn btn-delete" type="submit" name="button">DELETE EVENT</button>
      </form>
    <% } %>
  </section>
<%- include ../partials/footer.ejs %>
